<div>

    <table class="table">
        <thead>
            <tr>
                <td>Source and Name</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="#newsletter of newsletters" style="margin-bottom: 10px;">
                <td>{{newsletter.name}}</td> <td><button class="btn btn-primary btn-xs" (click)="removeNewsletter(newsletter)">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <div class="addContactControls">
        <input #name placeholder="name" />
        <input #source placeholder="source" />
        <button class="btn btn-primary btn-xs" (click)="addNewsletter(name.value,source.value)">Add Newsletter</button>
    </div>

</div>
