<form class=" ui large form segment" >

    <h3 class=" ui header" >Add task</h3>

    <div class=" field" >
        <label for=" title" >Task: </label >
        <input name=" title" #newTask >
    </div>
    <br/>
    <button (click)="addTask(newTask)" class=" ui positive right button" >
        Add
    </button>
</form>

<br>

<table width="60%">
        <tr *ngFor="#item of tasks | async" class="item" style="border-bottom:1px solid #ccc;">
            <td>
              <p>  {{ item.$value }} </p>
            </td>
             <td style="text-align:right;">
                 <button  (click)="removeTask( item.$key )"  style="background-color:#ddd; cursor:pointer; text-align:center;">Remove</button>
            </td>
        </tr>    
</table>

