<form class=" ui large form segment" >

    <h3 class=" ui header" >Add task</h3>

    <div class=" field" >
        <label for=" title" >Task: </label >
        <input name=" title" #newTask >
    </div>

    <button (click)="addTask(newTask)" class=" ui positive right button" >
        Add
    </button>
</form>

<br>
<div class="ui grid posts" >

    <div class="ui middle aligned divided list one wide" style="width:100%">

        <div *ngFor="#item of tasks | async" class="item">
            <div class="right floated content">
            <div class="ui button" (click)="removeTask( item.$key )" >Remove</div>
            </div>
            <div class="content">
              <p>  {{ item.$value }} </p>
            </div>
        </div>

      </div>

</div>
